body {
	font-family: Arial;
	background-image: url("https://cdn.wallpapersafari.com/51/78/dltnIv.jpg");
}	
nav{
	padding: 50px 0;
	min-width: 5px;
}
nav ul{
	background: linear-gradient(90deg,
	rgba(255,255,255,0)0%,
	rgba(255,255,255,0)25%,
	rgba(255,255,255,0)50%,
	rgba(255,255,255,0)75%,);
	box-shadow: 0 0 25px rgba(0,0,0,1),
	inset 0 0 1px rgba(255,255,255,0.6);
}
nav ul li{
	display: inline-block;
}
nav ul li a{
	padding: 10px;
	color: #111111;
	font-size: 18px;
	font-family: Arial;
	display: block;
}
h1 {
	color: blue;
}
h2 {
	background-color: #ee3e80;
}
img.banner{
	width: 200px;
	height: 200px;
	display: block;
	margin: 0px auto;;
}
img.spaceImg{
	width: 450px;
	height: 450px;
	border-radius: 300px;
}
	