body {
	font-family: Arial;
	background-image: url("https://cdn.wallpapersafari.com/51/78/dltnIv.jpg");
}
h1 {
	color: blue;
}
h2 {
	background-color: #ee3e80;
}
img.banner{
	width: 200px;
	height: 200px;
	display: block;
	margin: 0px auto;;
}